<h1>Extensions</h1>

<button phx-click="update_remote">Update remote</button>
<button phx-click="update_local">Update local</button>

<h3>Installed</h3>
<table>
  <%= for ext <- @local do %>
    <tr>
      <td>{ext.name}</td>
      <td>{ext.version}</td>
      <td>{ext.pkg}</td>
    </tr>
  <% end %>
</table>

<h3>Remote</h3>
<table>
  <%= for ext <- @remote |> Enum.filter(fn ext -> not Enum.any?(@local, &ext["pkg"] == &1.pkg) end) do %>
    <tr>
      <td><button phx-click="install" phx-value-pkg={ext["pkg"]}>Install</button></td>
      <td>{ext["name"]}</td>
      <td>{ext["version"]}</td>
      <td>{ext["pkg"]}</td>
    </tr>
  <% end %>
</table>
