<h1>Index</h1>

<div>
  <div><%= @n_files %> jxl files</div>
  <div>Filesize: <%= Size.humanize!(@filesize, round: 1) %></div>
  <div>Original filesize: <%= Size.humanize!(@original_filesize, round: 1) %></div>
  <div>Compression ratio: <%= percent(@original_filesize / @filesize) %>%</div>
  <div>
    <span>Mean: <%= percent(Enum.sum(@ratios) / length(@ratios)) %>%</span>,
    <span>Median: <%= Enum.sort(@ratios) |> Enum.at(trunc(length(@ratios) / 2)) |> percent() %>%</span>,
    <span>Min: <%= Enum.min(@ratios) |> percent() %>%</span>,
    <span>Max: <%= Enum.max(@ratios) |> percent() %>%</span>,
    <span>10th %ile: <%= percentile(@ratios, 10) |> percent() %>%</span>,
    <span>90th %ile: <%= percentile(@ratios, 90) |> percent() %>%</span>,
    <span>sd: <%= var(@ratios) |> :math.sqrt() |> percent() %>%</span>
  </div>
</div>

<%= if @apk_date != nil do %>
<div>
  <a href="/apk/app-standard-universal-release.apk">app-standard-universal-release.apk</a>
  <span>[<%= @apk_date %>]</span>
  <a href="/apk/tachiyomi-en.grass-v1.3.4-debug.apk">tachiyomi-en.grass-v1.3.4-debug.apk</a>
</div>
<% end %>

<div>
  <%= for cat <- categories() do %>
  <%= live_patch(cat.name, to: Routes.live_path(@socket, LLWeb.IndexLive, q: "\"category_#{cat.id}\"")) %>
  <% end %>
</div>

<div>
<input phx-hook="search" id="search" type="text" name="q" value="<%= @query %>" />

<%= live_patch("Prev", to: Routes.live_path(@socket, LLWeb.IndexLive, q: @query, page: max(1, @page - 1))) %>
<%= live_patch("Next", to: Routes.live_path(@socket, LLWeb.IndexLive, q: @query, page: max(1, min(@pages, @page + 1)))) %>
<span><%= (@page - 1) * @limit + 1 %> - <%= min(@total, @page * @limit) %>/<%= @total %></span>
</div>

<table id="table">
  <%= for s <- @results do %>
  <tr>
    <td class="cover">
      <img src="/<%= s.e.cover %>" />
    </td>
    <td class="title">
      <%= live_patch(s.e.title, to: Routes.reader_path(@socket, s.type, s.e.id)) %>
    </td>
    <td>
      <div class="tags">
      <%= for tag <- sort_tags(s.e.tags) do %>
        <%= live_patch(tag_text(tag), to: Routes.live_path(@socket, LLWeb.IndexLive, q: "\"#{tag.id}\"", page: 1)) %>
      <% end %>
      </div>
    </td>
    <td class="date">
      <%= Date.to_string(s.date) %>
    </td>
  </tr>
  <% end %>
</table>

<div>
  <%= live_patch("Prev", to: Routes.live_path(@socket, LLWeb.IndexLive, q: @query, page: max(1, @page - 1))) %>
  <%= live_patch("Next", to: Routes.live_path(@socket, LLWeb.IndexLive, q: @query, page: max(1, min(@pages, @page + 1)))) %>
  <span><%= (@page - 1) * @limit + 1 %> - <%= min(@total, @page * @limit) %>/<%= @total %></span>
</div>
