<div class="library">
  <%= for series <- @library ++ @multis do %>
    <%= if is_multi?(series) do %>
      <.live_component
        module={LLWeb.SeriesComponent}
        id={"#{LLWeb.SeriesComponent.id(series.id)}-Multi"}
        series={series.series}
        navigate={~p"/library/m#{series.id}"}
      />
    <% else %>
      <.live_component
        module={LLWeb.SeriesComponent}
        id={LLWeb.SeriesComponent.id(series.id)}
        series={series}
        navigate={~p"/library/#{series.id}"}
      />
    <% end %>
  <% end %>
</div>

<%= if assigns[:series_id] do %>
  <.live_component
    module={LLWeb.SeriesPageComponent}
    id={LLWeb.SeriesPageComponent.id(@series_id)}
    series_id={@series_id}
    is_multi={@is_multi}
    close={~p"/"}
  />
<% end %>
