<div class="library">
  <%= for series <- @library do %>
    <.live_component2
      module={LLWeb.SeriesComponent}
      id={series.id}
      series={series}
      click={~p"/library/#{series.id}"}
    />
  <% end %>
</div>

<%= if assigns[:series] do %>
  <.live_component2
    module={LLWeb.SeriesPageComponent}
    id={@series.id}
    series={@series}
    source={@source}
    chapters={@chapters}
    close={~p"/"}
  />
<% end %>
