<div class="library">
  <%= for series <- @library do %>
    <.live_component
      module={LLWeb.SeriesComponent}
      id={LLWeb.SeriesComponent.id(series.id)}
      series={series}
      navigate={~p"/library/#{series.id}"}
    />
  <% end %>
</div>

<%= if assigns[:series_id] do %>
  <.live_component
    module={LLWeb.SeriesPageComponent}
    id={LLWeb.SeriesPageComponent.id(@series_id)}
    series_id={@series_id}
    close={~p"/"}
  />
<% end %>
