<div class="left">
  <h1>Search</h1>

  <.form for={@search_form} phx-submit="search">
    <div>
      <input
        type="text"
        id={@search_form[:query].id}
        name={@search_form[:query].name}
        value={@search_form[:query].value}
      />
      {submit("Search")}
    </div>

    <div class="sources">
      <%= for source <- @sources do %>
        <% field = @search_form["enable_#{source.id}"] %>
        <div>
          <input type="checkbox" id={field.id} name={field.name} checked={field.value} />
          <.link navigate={~p"/search/#{source.id}"}>
            <img
              loading="lazy"
              src={"#{LL.ExtensionManager.extension_repo()}icon/#{source.extension.pkg}.png"}
            />
            <span>{source.name}</span>
            <span>{source.lang}</span>
          </.link>
        </div>
      <% end %>
    </div>
  </.form>

  <%= for {source_id, results} <- @results do %>
    <div>
      <h4>
        {@sources |> Enum.filter(&(&1.source_id == source_id)) |> Enum.at(0) |> Map.get(:name)}
      </h4>
      <div class="library">
        <%= for series <- results do %>
          <.live_component
            module={LLWeb.SeriesComponent}
            id={LLWeb.SeriesComponent.id(series.id)}
            series={series}
            href={~p"/series/#{series.id}"}
            select={true}
          />
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= if assigns[:series_id] do %>
  <.live_component
    module={LLWeb.SeriesPageComponent}
    id={LLWeb.SeriesPageComponent.id(@series_id)}
    series_id={@series_id}
  />
<% end %>
