<h1>Status</h1>

<div>
  <button phx-click="sync">Sync</button>
  <button phx-click="encode_pages">Encode</button>
</div>

<table>

<%= for {key, value} <- @status do %>
<tr>
  <td><%= key_string(key) %></td>
  <td><%= value %></td>
</tr>
<% end %>

</table>
