<div>
  <table>
  <%= for tag <- LL.Repo.all(LL.Tag) |> Enum.sort_by(& &1.id) do %>
    <tr>
      <td><%= link(tag.name, to: Routes.live_path(@conn, LLWeb.IndexLive, q: "\"#{tag.id}\"", page: 1)) %></td>
      <td><%= tag_type(tag) %></td>
    </tr>
  <% end %>
  </table>
</div>
