<h1>Updates</h1>

<div class="messages">
  <%= for e <- @messages |> Enum.sort(&(Date.compare(&1.updated_at, &2.updated_at) != :lt)) do %>
    <div>
      <div>
        <button phx-click="delete" phx-value-id={e.id} class="material-symbols-rounded">
          close
        </button>
        <span>{relative_time(e.updated_at)}</span>
        <span>{replace_links(e.title)}</span>
      </div>
      <%= if e.body != "" do %>
        <div>{replace_links(e.body)}</div>
      <% end %>
    </div>
  <% end %>
</div>
