<h1>Updates</h1>

<div class="messages">
  <button phx-click="clear-errors" style="align-self: start">
    Clear errors
  </button>
  <div :for={e <- @messages |> Enum.sort_by(& &1.inserted_at, {:desc, NaiveDateTime})}>
    <div>
      <button phx-click="delete" phx-value-id={e.id} class="material-symbols-rounded">
        close
      </button>
      <span>{relative_time(e.inserted_at)}</span>
      <span>{replace_links(e.title)}</span>
    </div>
    <div :if={e.body != ""}>{replace_links(e.body)}</div>
  </div>
</div>
