.ChapterComponent {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 0.5em;
    padding: 0.25em 0.5em;

    // flex-direction: column;
    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        >div {
            display: flex;
            gap: 0.5em;
        }
    }

    .title {}

    .date,
    .scanlator {
        font-size: 0.9em;
    }
}