.ExtensionsLive {
    .details {
        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    tr {
        img {
            width: 3em;
            height: 3em;
        }
    }
}