.LibraryLive {
    main {
        display: flex;
        padding: 0;
    }

    .library {
        overflow-y: auto;
        padding: 0.5em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        flex: 1;
    }

    .SeriesPageComponent {
        overflow-y: auto;
        height: 100%;
        box-shadow: 0 0 5px;
    }
}