.ReaderLive {
    main {
        position: relative;
        display: flex;
        padding: 0;
        overflow-x: hidden;
    }

    .series_details {
        display: flex;
        position: relative;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1;

        >.inner {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 24em;
        }

        .details {
            padding: 0.5em;
        }

        .chapterlist {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding: 0.5em;
            flex: 1;
            overflow-y: auto;
        }

        .series_details_toggle {
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            z-index: 1;

            label {
                padding: 0.25em;
                cursor: pointer;

                &::after {
                    font-family: "Material Symbols Rounded";
                }
            }
        }
    }

    @media only screen and (max-width: calc(700px)) {
        .series_details {
            display: none
        }
    }

    #series_details_toggle {
        display: none;

        &:checked {
            &+.series_details {
                >.inner {
                    display: none;
                }

                .series_details_toggle label::after {
                    content: "chevron_right";
                }
            }
        }

        &:not(:checked) {
            &+.series_details {
                .series_details_toggle label::after {
                    content: "chevron_left";
                }
            }
        }
    }

    #reader {
        height: 100%;
        overflow-y: auto;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 0;
        background: rgb(30, 30, 30);

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            width: 100%;
            height: 100%;
            filter: url(#noise2);
            opacity: 0.5;
            z-index: -1;
        }

        &.loading {
            cursor: wait;

            &::after {
                display: flex;
                align-items: center;
                justify-content: center;
                content: "Loading";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                padding: 8px;
                z-index: 1;
                border-radius: 8px;
                font-size: 32px;
            }
        }

        &.cursor-zoom-in {
            cursor: zoom-in;
        }

        &.cursor-zoom-out {
            cursor: zoom-out;
        }

        &.cursor-left {
            cursor: w-resize;
        }

        &.cursor-right {
            cursor: w-resize;
        }

        canvas {
            width: 100%;
            height: 100%;
            &.grabbing {
                cursor: grabbing;
            }
        }

        .controls {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
        }

        .info {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(5px);
            padding: 4px;
            border-top-left-radius: 8px;
            display: flex;
            gap: 0.5em;
        }

        .interstitial {
            position: absolute;
            left: 0;
            top: 0;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 100%;
            display: flex;
            // background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            font-size: 2em;
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

            &:not(.visible) {
                display: none;
            }
        }
    }

    #page_container {
        height: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        >div {
            display: flex;
            justify-content: center;
            position: relative;
            min-width: 100%;
            flex: 0 0 100%;
            overflow: none;
            scroll-snap-align: center;
        }

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}