.SearchLive {
    main {
        display: flex;
        padding: 0;
    }

    .left {
        gap: 0.5em;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.5em;
        overflow-y: auto;

        form {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5em;
        }
    }

    .sources {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        >div {
            display: flex;
            align-items: center;
            gap: 0.5em;

            >a {
                display: flex;
                align-items: center;
                gap: 0.5em;
                flex: 1;
                color: black;
                text-decoration: none;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                padding-right: 0.5em;

                >img {
                    width: 3em;
                    height: 3em;
                }
            }
        }
    }

    .library {
        display: flex;
        align-content: start;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .SeriesPageComponent {
        .inner {
            max-width: 100%;
        }
    }

    .left:has(+ .SeriesPageComponent) {
        .SeriesComponent {
            width: 12.67em;
            min-width: 12.67em;
        }
    }

    @media only screen and (max-width: calc(1000px + 19.67em)) {
        .left:has(+ .SeriesPageComponent) {
            display: none
        }

        .SeriesPageComponent {
            width: 100%;
            max-width: 100%;
        }
    }
}