.SearchLive {
    main {
        display: flex;
        padding: 0;
    }

    .left {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.5em;
        overflow-y: auto;
    }

    .library {
        display: flex;
        align-content: start;
        flex-wrap: wrap;
        gap: 1em;
    }

    @media only screen and (max-width: calc(1000px + 19.67em)) {
        .left:has(+ .SeriesPageComponent) {
            display: none
        }

        .SeriesPageComponent {
            width: 100%;
            max-width: 100%;
        }
    }
}