.SeriesPageComponent {
    width: min(100%, 1000px);
    max-width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: 0.2s fade-in;

    >.header {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0.25em 0.5em;

        .close {
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(5px);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            border-radius: 100%;
        }
    }

    .body {
        overflow-y: auto;
        flex: 1;
        display: flex;
    }

    .head {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .SeriesLive {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .inner {
        max-width: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}