.SourceLive {
    main {
        display: flex;
        padding: 0;
    }

    .left {
        gap: 0.5em;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.5em;
        overflow-y: auto;

        form {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5em;
        }
    }

    .filters {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .group {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .items {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5em;
            }
        }

        .tristate {
            input {
                display: none;
            }

            label {
                display: inline-block;
                padding: 0.5em;
                border-radius: 4px;
                user-select: none;
                cursor: pointer;


                &[state="0"] {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                }

                &[state="1"] {
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.25);
                    background-color: rgba(0, 255, 0, 0.2);
                }

                &[state="2"] {
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.25);
                    background-color: rgba(255, 0, 0, 0.2);
                }
            }
        }
    }

    .library {
        display: flex;
        align-content: start;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .SeriesPageComponent {
        .inner {
            max-width: 100%;
        }
    }

    .left:has(+ .SeriesPageComponent) {
        .SeriesComponent {
            width: 12.67em;
            min-width: 12.67em;
        }
    }

    @media only screen and (max-width: calc(1000px + 19.67em)) {
        .left:has(+ .SeriesPageComponent) {
            display: none
        }

        .SeriesPageComponent {
            width: 100%;
            max-width: 100%;
        }
    }
}