.UpdatesLive {
    .messages {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        >div {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            overflow: hidden;
            padding: 0.5em;
            gap: 0.5em;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(2px);

            >:first-child {
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 0.5em;
            }
        }

        .material-symbols-rounded {
            position: relative;
            height: 100%;
            display: inline;
            padding: 0;
            font-size: 1.1em;
        }
    }
}