.UpdatesLive {
    .messages {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        >div {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            padding: 0.5em;
            gap: 0.5em;

            >:first-child {
                font-weight: bold;
            }
        }
    }
}