<head>
  <title>{assigns[:page_title] || @socket.view.title()}</title>
</head>

<header>
  <nav>
    <.nav socket={@socket} view={LLWeb.LibraryLive} />
    {live_render(@socket, LLWeb.UpdatesNavLive, id: LLWeb.UpdatesNavLive)}
    <.nav socket={@socket} view={LLWeb.SearchLive} />
    <.nav socket={@socket} view={LLWeb.StatusLive} />
  </nav>
</header>

<main class="container">{@inner_content}</main>
