<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /> <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {csrf_meta_tag()}
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=chevron_left,chevron_right,close,download,filter_alt,globe"
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <link rel="icon" href="/images/yuri!!!.webp" type="image/webp" />
  </head>

  <body>
    {@inner_content}
    <svg style="position: fixed; visibility: hidden; transform: scale(0);">
      <filter id="noise">
        <feTurbulence type="fractalNoise" baseFrequency="0.1" numOctaves="4" stitchTiles="stitch" />
        <feColorMatrix
          type="matrix"
          values="100 0 0 0 -25 0 100 0 0 -25 0 0 100 0 -25 0 0 0 0.3 0"
        />
      </filter>
    </svg>
  </body>
</html>
