<head>
  <title>{assigns[:page_title] || @socket.view.title()}</title>
</head>

<header>
  <nav>
    <.link navigate={~p"/library"} class={current_page?(@socket, LLWeb.LibraryLive)}>Library</.link>
    <%= if assigns[:library_nav] do %>
      {@library_nav}
    <% end %>
    {live_render(@socket, LLWeb.UpdatesNavLive, id: LLWeb.UpdatesNavLive)}
    <.link navigate={~p"/search"} class={current_page?(@socket, LLWeb.SearchLive)}>Search</.link>
    <.link navigate={~p"/categories"} class={current_page?(@socket, LLWeb.CategoriesLive)}>
      Categories
    </.link>
    <.link navigate={~p"/status"} class={current_page?(@socket, LLWeb.StatusLive)}>Status</.link>
    <%= if @current_scope.user != nil do %>
      <.link navigate={~p"/user/settings"} class={current_page?(@socket, LLWeb.UserLive.Settings)}>
        Settings
      </.link>
      <.link href={~p"/user/log-out"} method="delete">Log out</.link>
    <% else %>
      <.link
        navigate={~p"/user/register"}
        class={current_page?(@socket, LLWeb.UserLive.Registration)}
      >
        Register
      </.link>
      <.link navigate={~p"/user/log-in"} class={current_page?(@socket, LLWeb.UserLive.Login)}>
        Log in
      </.link>
    <% end %>
  </nav>
</header>

<main class="container">{@inner_content}</main>
